<h1>Food Preference</h1>
    <form method="post">
        {% csrf_token %}
        <label for="vegn">Vegetables or none!</label>
        <select name="vegn" id="vegn">
            <option value="veg">Vegetables</option>
            <option value="non-veg">Non-vegetarian</option>
        </select><br><br>
        <label for="cuisine">Choose your favourite cuisine:</label>
        <select name="cuisine" id="cuisine">
            <option value="Healthy Food">Healthy Food</option>
            <option value="Snack">Snack</option>
            <!-- Add other cuisine options here -->
        </select><br><br>
        <label for="val">Rating from poor to the best:</label>
        <input type="range" id="val" name="val" min="0" max="10"><br><br>
        <button type="submit">Submit</button>
    </form>
